{% extends 'makeup/base/base.html' %}

{% load static %}

{% block page_title %} Cosmetic Boutique Products  {% endblock %}
{% block title %} All Products {% endblock %}

{% block content %}
{% for group in request.user.groups.all %}
    {% if group.name == 'admin' %}

  <a href="{% url 'add-product-form' %}" class="btn btn-primary">Add Product</a>

    {% endif %}
{% endfor %}



  <div id="content" class="container">
   <div class="row">
     {% if show %}
         {% for product in all_products %}

       {% include 'makeup/includes/product-item.html' with name=product.name  kind=product.kind image=product.image.url id=product.id %}

         {% endfor %}
     {% else %}
     <h5>
        there is no products
        </h5>
     {% endif %}
</div>
  </div>
   {% endblock %}