
{% extends 'makeup/base/base.html' %}

{% load static %}

{% block page_title %} {{product_name}} {% endblock %}
{% block title %} {{product_name}} Details {% endblock %}
 {% block content %}
  <div id="content" class="container">
   <div class="row">
     {% if show %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
          <div class="col-sm-12 rw-sm-8 ">
          <img class="card-img-top" src="{{product_image.url}}" alt="{{product_name}}"  >
          </div>
        <h3 style="margin :15px ; " class="card-title">name: {{product_name}}</h3>
        <h5 style="margin :15px ; " class="card-text">Origin: {{product_kind}}</h5>
          <h5 style="margin :15px ; " class="card-text">brand: {{product_brand}}</h5>
          <p style="margin :15px ; " class="card-text">description: {{product_description}}</p>
          <h5 style="margin :15px ; " class="card-text">price: {{product_price}} $</h5>
          <h5 style="margin :15px ; " class="card-text">expire date: {{product_expir_date}}</h5>

          {% for group in request.user.groups.all %}
    {% if group.name == 'admin' %}

          <a href="{% url 'update-product-form' id %}" class="btn btn-primary">Update</a>
          <a href="{% url 'delete-product-form' id %}" class="btn btn-primary">Delete</a>

    {% endif %}
{% endfor %}






      </div>
    </div>
  </div>
     {% else %}
     <h5>
        Error 404 "Not Found"
        </h5>
     {% endif %}
</div>
  </div>
 {% endblock %}